*~
.gradle
/*/.gradle
/build
/*/build
/out
/*/out
/classes
/*/classes
/lib
/**/lib
/bin
/**/bin
/ide
/**/ide
/vendor
/**/vendor
/intTestHomeDir
/intellij
*.iml
*.ipr
*.iws
/**/*.iml
/**/*.ipr
/**/*.iws
*.classpath
*.project
*.settings
/**/*.classpath
/**/*.project
/**/*.settings
.DS_Store
.textmate
/incoming-distributions
/.idea
*.sublime-*
.nb-gradle
/node_modules
/bower_components
*.log
*.local.sql
gradle.properties
.sonar_lock
